-- CreateTable
CREATE TABLE `audit` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `LID_ID` MEDIUMINT UNSIGNED NOT NULL,
    `TABEL` VARCHAR(25) NULL,
    `TABEL_NAAM` VARCHAR(25) NULL,
    `ACTIE` VARCHAR(15) NULL,
    `OBJECT_ID` MEDIUMINT UNSIGNED NULL,
    `VOOR` TEXT NULL,
    `DATA` TEXT NULL,
    `RESULTAAT` TEXT NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `LID_ID`(`LID_ID`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `documenten` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `VOLGORDE` TINYINT UNSIGNED NULL,
    `GROEP_ID` MEDIUMINT UNSIGNED NOT NULL,
    `TEKST` VARCHAR(250) NULL,
    `URL` VARCHAR(250) NULL,
    `LID_ID` MEDIUMINT UNSIGNED NULL,
    `LEGE_REGEL` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `ONDERSTREEP` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `BOVEN` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `GROEP_ID`(`GROEP_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_aanwezig_leden` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `POSITIE` TINYINT UNSIGNED NULL,
    `LID_ID` MEDIUMINT UNSIGNED NOT NULL,
    `VOORAANMELDING` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `AANKOMST` TIME(0) NULL,
    `VERTREK` TIME(0) NULL,
    `OVERLAND_VLIEGTUIG_ID` MEDIUMINT UNSIGNED NULL,
    `VOORKEUR_VLIEGTUIG_TYPE` TEXT NULL,
    `TRANSACTIE_ID` MEDIUMINT UNSIGNED NULL,
    `VELD_ID` MEDIUMINT UNSIGNED NULL,
    `OPMERKINGEN` TEXT NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `DATUM`(`DATUM`),
    INDEX `DATUM_LIDID_VERWIJDERD`(`DATUM`, `LID_ID`, `VERWIJDERD`),
    INDEX `LID_ID`(`LID_ID`),
    INDEX `OVERLAND_VLIEGTUIG_ID`(`OVERLAND_VLIEGTUIG_ID`),
    INDEX `TRANSACTIE_ID`(`TRANSACTIE_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_aanwezig_vliegtuigen` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `VLIEGTUIG_ID` MEDIUMINT UNSIGNED NOT NULL,
    `AANKOMST` TIME(0) NULL,
    `VERTREK` TIME(0) NULL,
    `LATITUDE` DECIMAL(8, 5) NULL,
    `LONGITUDE` DECIMAL(8, 5) NULL,
    `HOOGTE` SMALLINT NULL,
    `SNELHEID` SMALLINT NULL,
    `VELD_ID` MEDIUMINT UNSIGNED NULL,
    `VERWIJDERD` TINYINT NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `DATUM`(`DATUM`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    INDEX `VLIEGTUIG_ID`(`VLIEGTUIG_ID`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_agenda` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `TIJD` TIME(0) NULL,
    `KORT` TEXT NULL,
    `OMSCHRIJVING` TEXT NULL,
    `OPENBAAR` TINYINT UNSIGNED NOT NULL DEFAULT 1,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `DATUM`(`DATUM`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_daginfo` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `VELD_ID` MEDIUMINT UNSIGNED NULL,
    `BAAN_ID` MEDIUMINT UNSIGNED NULL,
    `STARTMETHODE_ID` MEDIUMINT UNSIGNED NULL,
    `VELD_ID2` MEDIUMINT UNSIGNED NULL,
    `BAAN_ID2` MEDIUMINT UNSIGNED NULL,
    `STARTMETHODE_ID2` MEDIUMINT UNSIGNED NULL,
    `INCIDENTEN` TEXT NULL,
    `VLIEGBEDRIJF` TEXT NULL,
    `METEO` TEXT NULL,
    `DIENSTEN` TEXT NULL,
    `VERSLAG` TEXT NULL,
    `ROLLENDMATERIEEL` TEXT NULL,
    `VLIEGENDMATERIEEL` TEXT NULL,
    `DDWV` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `CLUB_BEDRIJF` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `BAAN_ID`(`BAAN_ID`),
    INDEX `BAAN_ID2`(`BAAN_ID2`),
    INDEX `DATUM`(`DATUM`),
    INDEX `STARTMETHODE_ID`(`STARTMETHODE_ID`),
    INDEX `STARTMETHODE_ID2`(`STARTMETHODE_ID2`),
    INDEX `VELD_ID`(`VELD_ID`),
    INDEX `VELD_ID2`(`VELD_ID2`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_dagrapporten` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `VELD_ID` MEDIUMINT UNSIGNED NOT NULL,
    `INGEVOERD_ID` MEDIUMINT UNSIGNED NOT NULL,
    `INCIDENTEN` TEXT NULL,
    `VLIEGBEDRIJF` TEXT NULL,
    `METEO` TEXT NULL,
    `DIENSTEN` TEXT NULL,
    `VERSLAG` TEXT NULL,
    `ROLLENDMATERIEEL` TEXT NULL,
    `VLIEGENDMATERIEEL` TEXT NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `DATUM`(`DATUM`),
    INDEX `INGEVOERD_ID`(`INGEVOERD_ID`),
    INDEX `VELD_ID`(`VELD_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_diensten` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `ROOSTER_ID` MEDIUMINT UNSIGNED NOT NULL,
    `LID_ID` MEDIUMINT UNSIGNED NOT NULL,
    `TYPE_DIENST_ID` MEDIUMINT UNSIGNED NULL,
    `INGEVOERD_DOOR_ID` MEDIUMINT UNSIGNED NULL,
    `AANWEZIG` TINYINT UNSIGNED NULL,
    `UITBETAALD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `AFWEZIG` TINYINT UNSIGNED NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `DATUM`(`DATUM`),
    INDEX `INGEVOERD_DOOR_ID`(`INGEVOERD_DOOR_ID`),
    INDEX `LID_ID`(`LID_ID`),
    INDEX `ROOSTER_ID`(`ROOSTER_ID`),
    INDEX `TYPE_DIENST_ID`(`TYPE_DIENST_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_facturen` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `JAAR` SMALLINT NOT NULL,
    `LID_ID` MEDIUMINT UNSIGNED NULL,
    `NAAM` VARCHAR(255) NULL,
    `LIDNR` VARCHAR(10) NULL,
    `FACTUUR_NUMMER` VARCHAR(50) NULL,
    `CODE` VARCHAR(10) NULL,
    `OMSCHRIJVING` VARCHAR(50) NULL,
    `GEFACTUREERD` DECIMAL(50, 0) NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `LID_ID`(`LID_ID`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_gasten` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `NAAM` VARCHAR(75) NOT NULL,
    `DATUM` DATE NOT NULL,
    `OPMERKINGEN` TEXT NULL,
    `VELD_ID` MEDIUMINT UNSIGNED NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_journaal` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `VLIEGTUIG_ID` MEDIUMINT UNSIGNED NULL,
    `ROLLEND_ID` MEDIUMINT UNSIGNED NULL,
    `TITEL` VARCHAR(250) NULL,
    `OMSCHRIJVING` TEXT NULL,
    `CATEGORIE_ID` MEDIUMINT UNSIGNED NULL,
    `STATUS_ID` MEDIUMINT UNSIGNED NULL,
    `MELDER_ID` MEDIUMINT UNSIGNED NULL,
    `TECHNICUS_ID` MEDIUMINT UNSIGNED NULL,
    `AFGETEKEND_ID` MEDIUMINT UNSIGNED NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `AFGETEKEND_ID`(`AFGETEKEND_ID`),
    INDEX `CATEGORIE_ID`(`CATEGORIE_ID`),
    INDEX `DATUM`(`DATUM`),
    INDEX `MELDER_ID`(`MELDER_ID`),
    INDEX `ROLLEND_ID`(`ROLLEND_ID`),
    INDEX `STATUS_ID`(`STATUS_ID`),
    INDEX `TECHNICUS_ID`(`TECHNICUS_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    INDEX `VLIEGTUIG_ID`(`VLIEGTUIG_ID`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_progressie` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `LID_ID` MEDIUMINT UNSIGNED NOT NULL,
    `COMPETENTIE_ID` MEDIUMINT UNSIGNED NOT NULL,
    `INSTRUCTEUR_ID` MEDIUMINT UNSIGNED NOT NULL,
    `OPMERKINGEN` TEXT NULL,
    `INGEVOERD` DATETIME(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `LINK_ID` MEDIUMINT UNSIGNED NULL,
    `GELDIG_TOT` DATE NULL,
    `SCORE` SMALLINT UNSIGNED NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `COMPETENTIE_ID`(`COMPETENTIE_ID`),
    INDEX `INSTRUCTEUR_ID`(`INSTRUCTEUR_ID`),
    INDEX `LID_ID`(`LID_ID`),
    INDEX `LINK_ID`(`LINK_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_reservering` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `VLIEGTUIG_ID` MEDIUMINT UNSIGNED NOT NULL,
    `LID_ID` MEDIUMINT UNSIGNED NOT NULL,
    `INGEVOERD_ID` MEDIUMINT UNSIGNED NOT NULL,
    `IS_GEBOEKT` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `OPMERKINGEN` TEXT NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `LID_ID`(`LID_ID`),
    INDEX `VLIEGTUIG_ID`(`VLIEGTUIG_ID`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_rooster` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `DDWV` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `CLUB_BEDRIJF` TINYINT UNSIGNED NOT NULL DEFAULT 1,
    `WINTER_WERK` BOOLEAN NOT NULL DEFAULT false,
    `MIN_SLEEPSTART` TINYINT UNSIGNED NOT NULL DEFAULT 3,
    `MIN_LIERSTART` TINYINT UNSIGNED NOT NULL DEFAULT 10,
    `OPMERKINGEN` TEXT NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `DATUM`(`DATUM`),
    INDEX `DDWV`(`DDWV`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_startlijst` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATE NOT NULL,
    `DAGNUMMER` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `VLIEGTUIG_ID` MEDIUMINT UNSIGNED NOT NULL,
    `STARTTIJD` TIME(0) NULL,
    `LANDINGSTIJD` TIME(0) NULL,
    `STARTMETHODE_ID` MEDIUMINT UNSIGNED NULL,
    `VLIEGER_ID` MEDIUMINT UNSIGNED NULL,
    `INZITTENDE_ID` MEDIUMINT UNSIGNED NULL,
    `VLIEGERNAAM` VARCHAR(50) NULL,
    `INZITTENDENAAM` VARCHAR(50) NULL,
    `SLEEPKIST_ID` MEDIUMINT UNSIGNED NULL,
    `SLEEP_HOOGTE` SMALLINT UNSIGNED NULL,
    `VELD_ID` MEDIUMINT UNSIGNED NULL,
    `BAAN_ID` MEDIUMINT UNSIGNED NULL,
    `OPMERKINGEN` TEXT NULL,
    `EXTERNAL_ID` TEXT NULL,
    `PAX` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `CHECKSTART` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `INSTRUCTIEVLUCHT` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `BAAN_ID`(`BAAN_ID`),
    INDEX `DATUM`(`DATUM`),
    INDEX `DATUM_VLIEGER_ID_VERWIJDERD`(`DATUM`, `VLIEGER_ID`, `VERWIJDERD`),
    INDEX `INZITTENDE_ID`(`INZITTENDE_ID`),
    INDEX `SLEEPKIST_ID`(`SLEEPKIST_ID`),
    INDEX `STARTMETHODE_ID`(`STARTMETHODE_ID`),
    INDEX `VELD_ID`(`VELD_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    INDEX `VLIEGER_ID`(`VLIEGER_ID`),
    INDEX `VLIEGTUIG_ID`(`VLIEGTUIG_ID`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_tracks` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `LID_ID` MEDIUMINT UNSIGNED NOT NULL,
    `INSTRUCTEUR_ID` MEDIUMINT UNSIGNED NULL,
    `TEKST` TEXT NULL,
    `START_ID` MEDIUMINT UNSIGNED NULL,
    `INGEVOERD` DATETIME(0) NULL DEFAULT CURRENT_TIMESTAMP(0),
    `LINK_ID` MEDIUMINT UNSIGNED NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `INSTRUCTEUR_ID`(`INSTRUCTEUR_ID`),
    INDEX `LID_ID`(`LID_ID`),
    INDEX `LINK_ID`(`LINK_ID`),
    INDEX `START_ID`(`START_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `oper_transacties` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `DATUM` DATETIME(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),
    `VLIEGDAG` DATE NULL,
    `LID_ID` MEDIUMINT UNSIGNED NOT NULL,
    `INGEVOERD_ID` MEDIUMINT UNSIGNED NOT NULL,
    `TYPE_ID` MEDIUMINT UNSIGNED NOT NULL,
    `DDWV` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `BEDRAG` DECIMAL(10, 2) NULL,
    `EENHEDEN` DECIMAL(10, 0) NULL,
    `SALDO_VOOR` DECIMAL(8, 2) NULL,
    `SALDO_NA` DECIMAL(8, 2) NULL,
    `REFERENTIE` VARCHAR(50) NULL,
    `EXT_REF` VARCHAR(50) NULL,
    `OMSCHRIJVING` VARCHAR(150) NOT NULL,
    `BETAALD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `BETAAL_URL` VARCHAR(250) NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `INGEVOERD_ID`(`INGEVOERD_ID`),
    INDEX `LID_ID`(`LID_ID`),
    INDEX `TYPE_ID`(`TYPE_ID`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ref_competenties` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `VOLGORDE` SMALLINT UNSIGNED NULL,
    `LEERFASE_ID` MEDIUMINT UNSIGNED NOT NULL,
    `BLOK_ID` MEDIUMINT UNSIGNED NULL,
    `BLOK` VARCHAR(7) NULL,
    `ONDERWERP` VARCHAR(75) NOT NULL,
    `DOCUMENTATIE` VARCHAR(75) NULL,
    `GELDIGHEID` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `SCORE` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `BLOK_ID`(`BLOK_ID`),
    INDEX `LEERFASE_ID`(`LEERFASE_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ref_leden` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `NAAM` VARCHAR(255) NOT NULL,
    `VOORNAAM` VARCHAR(15) NULL,
    `TUSSENVOEGSEL` VARCHAR(8) NULL,
    `ACHTERNAAM` VARCHAR(30) NULL,
    `ADRES` VARCHAR(50) NULL,
    `POSTCODE` VARCHAR(10) NULL,
    `WOONPLAATS` VARCHAR(50) NULL,
    `TELEFOON` VARCHAR(255) NULL,
    `MOBIEL` VARCHAR(255) NULL,
    `NOODNUMMER` VARCHAR(255) NULL,
    `EMAIL` VARCHAR(45) NULL,
    `LIDNR` VARCHAR(10) NULL,
    `LIDTYPE_ID` MEDIUMINT UNSIGNED NOT NULL,
    `STATUSTYPE_ID` MEDIUMINT UNSIGNED NULL,
    `ZUSTERCLUB_ID` MEDIUMINT UNSIGNED NULL,
    `BUDDY_ID` MEDIUMINT UNSIGNED NULL,
    `BUDDY_ID2` MEDIUMINT NULL,
    `LIERIST` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LIERIST_IO` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `STARTLEIDER` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `INSTRUCTEUR` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `CIMT` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `DDWV_CREW` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `DDWV_BEHEERDER` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `BEHEERDER` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `STARTTOREN` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `ROOSTER` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `SLEEPVLIEGER` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `RAPPORTEUR` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `GASTENVLIEGER` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `TECHNICUS` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `CLUBBLAD_POST` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `ZELFSTART_ABONNEMENT` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `MEDICAL` DATE NULL,
    `GEBOORTE_DATUM` DATE NULL,
    `INLOGNAAM` VARCHAR(45) NULL,
    `WACHTWOORD` VARCHAR(255) NULL,
    `SECRET` VARCHAR(255) NULL,
    `AUTH` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `AVATAR` VARCHAR(255) NULL,
    `STARTVERBOD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `OPGEZEGD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `PRIVACY` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `SLEUTEL1` VARCHAR(25) NULL,
    `SLEUTEL2` VARCHAR(25) NULL,
    `BEROEP` VARCHAR(50) NULL,
    `KNVVL_LIDNUMMER` VARCHAR(25) NULL,
    `BREVET_NUMMER` VARCHAR(25) NULL,
    `EMAIL_DAGINFO` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `OPMERKINGEN` TEXT NULL,
    `TEGOED` FLOAT NOT NULL DEFAULT 0,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `INSTRUCTEUR`(`INSTRUCTEUR`),
    INDEX `LIDTYPE_ID`(`LIDTYPE_ID`),
    INDEX `LIERIST`(`LIERIST`),
    INDEX `NAAM`(`NAAM`(191)),
    INDEX `STARTLEIDER`(`STARTLEIDER`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    INDEX `ZUSTERCLUB_ID`(`ZUSTERCLUB_ID`),
    INDEX `ref_leden_ibfk_3`(`BUDDY_ID`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ref_types` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `GROEP` SMALLINT UNSIGNED NOT NULL,
    `CODE` VARCHAR(10) NULL,
    `EXT_REF` VARCHAR(25) NULL,
    `OMSCHRIJVING` VARCHAR(75) NOT NULL,
    `SORTEER_VOLGORDE` TINYINT UNSIGNED NULL,
    `READ_ONLY` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `BEDRAG` DECIMAL(6, 2) NULL,
    `EENHEDEN` DECIMAL(6, 2) NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `GROEP`(`GROEP`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ref_types_groepen` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `CODE` VARCHAR(10) NULL,
    `EXT_REF` VARCHAR(25) NULL,
    `OMSCHRIJVING` VARCHAR(75) NOT NULL,
    `SORTEER_VOLGORDE` TINYINT UNSIGNED NULL,
    `READ_ONLY` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `BEDRAG_EENHEDEN` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `VERWIJDERD`(`VERWIJDERD`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `ref_vliegtuigen` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `REGISTRATIE` VARCHAR(8) NOT NULL,
    `CALLSIGN` VARCHAR(6) NULL,
    `ZITPLAATSEN` TINYINT UNSIGNED NOT NULL DEFAULT 1,
    `CLUBKIST` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `FLARMCODE` VARCHAR(30) NULL,
    `TYPE_ID` MEDIUMINT UNSIGNED NULL,
    `TMG` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `ZELFSTART` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `SLEEPKIST` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `VOLGORDE` TINYINT UNSIGNED NULL,
    `INZETBAAR` TINYINT UNSIGNED NOT NULL DEFAULT 1,
    `TRAINER` TINYINT NOT NULL DEFAULT 0,
    `URL` VARCHAR(1024) NULL,
    `BEVOEGDHEID_LOKAAL_ID` MEDIUMINT UNSIGNED NULL,
    `BEVOEGDHEID_OVERLAND_ID` MEDIUMINT UNSIGNED NULL,
    `OPMERKINGEN` TEXT NULL,
    `VERWIJDERD` TINYINT UNSIGNED NOT NULL DEFAULT 0,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    INDEX `BEVOEGDHEID_LOKAAL_ID`(`BEVOEGDHEID_LOKAAL_ID`),
    INDEX `BEVOEGDHEID_OVERLAND_ID`(`BEVOEGDHEID_OVERLAND_ID`),
    INDEX `CALLSIGN`(`CALLSIGN`),
    INDEX `CLUBKIST`(`CLUBKIST`),
    INDEX `REGISTRATIE`(`REGISTRATIE`),
    INDEX `TYPE_ID`(`TYPE_ID`),
    INDEX `VERWIJDERD`(`VERWIJDERD`),
    INDEX `VOLGORDE`(`VOLGORDE`),
    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- CreateTable
CREATE TABLE `sys_sync` (
    `ID` MEDIUMINT UNSIGNED NOT NULL AUTO_INCREMENT,
    `LID_ID` MEDIUMINT UNSIGNED NULL,
    `STARTLIJST_ID` MEDIUMINT UNSIGNED NULL,
    `VLIEGTUIG_ID` MEDIUMINT UNSIGNED NULL,
    `DATA` TEXT NULL,
    `LAATSTE_AANPASSING` TIMESTAMP(0) NOT NULL DEFAULT CURRENT_TIMESTAMP(0),

    PRIMARY KEY (`ID`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

-- AddForeignKey
ALTER TABLE `audit` ADD CONSTRAINT `audit_ibfk_1` FOREIGN KEY (`LID_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `documenten` ADD CONSTRAINT `documenten_ibfk_1` FOREIGN KEY (`GROEP_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_aanwezig_leden` ADD CONSTRAINT `oper_aanwezig_leden_ibfk_1` FOREIGN KEY (`LID_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_aanwezig_leden` ADD CONSTRAINT `oper_aanwezig_leden_ibfk_2` FOREIGN KEY (`OVERLAND_VLIEGTUIG_ID`) REFERENCES `ref_vliegtuigen`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_aanwezig_leden` ADD CONSTRAINT `oper_aanwezig_leden_ibfk_3` FOREIGN KEY (`TRANSACTIE_ID`) REFERENCES `oper_transacties`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_aanwezig_vliegtuigen` ADD CONSTRAINT `oper_aanwezig_vliegtuigen_ibfk_1` FOREIGN KEY (`VLIEGTUIG_ID`) REFERENCES `ref_vliegtuigen`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_daginfo` ADD CONSTRAINT `oper_daginfo_ibfk_1` FOREIGN KEY (`VELD_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_daginfo` ADD CONSTRAINT `oper_daginfo_ibfk_2` FOREIGN KEY (`BAAN_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_daginfo` ADD CONSTRAINT `oper_daginfo_ibfk_3` FOREIGN KEY (`STARTMETHODE_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_daginfo` ADD CONSTRAINT `oper_daginfo_ibfk_4` FOREIGN KEY (`VELD_ID2`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_daginfo` ADD CONSTRAINT `oper_daginfo_ibfk_5` FOREIGN KEY (`BAAN_ID2`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_daginfo` ADD CONSTRAINT `oper_daginfo_ibfk_6` FOREIGN KEY (`STARTMETHODE_ID2`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_dagrapporten` ADD CONSTRAINT `oper_dagrapporten_ibfk_1` FOREIGN KEY (`VELD_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_dagrapporten` ADD CONSTRAINT `oper_dagrapporten_ibfk_2` FOREIGN KEY (`INGEVOERD_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_diensten` ADD CONSTRAINT `oper_diensten_ibfk_1` FOREIGN KEY (`TYPE_DIENST_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_diensten` ADD CONSTRAINT `oper_diensten_ibfk_2` FOREIGN KEY (`LID_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_diensten` ADD CONSTRAINT `oper_diensten_ibfk_3` FOREIGN KEY (`INGEVOERD_DOOR_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_diensten` ADD CONSTRAINT `oper_diensten_ibfk_4` FOREIGN KEY (`ROOSTER_ID`) REFERENCES `oper_rooster`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_facturen` ADD CONSTRAINT `oper_facturen_ibfk_1` FOREIGN KEY (`LID_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_journaal` ADD CONSTRAINT `oper_journaal_ibfk_1` FOREIGN KEY (`ROLLEND_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_journaal` ADD CONSTRAINT `oper_journaal_ibfk_2` FOREIGN KEY (`CATEGORIE_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_journaal` ADD CONSTRAINT `oper_journaal_ibfk_3` FOREIGN KEY (`STATUS_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_journaal` ADD CONSTRAINT `oper_journaal_ibfk_4` FOREIGN KEY (`VLIEGTUIG_ID`) REFERENCES `ref_vliegtuigen`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_journaal` ADD CONSTRAINT `oper_journaal_ibfk_5` FOREIGN KEY (`MELDER_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_journaal` ADD CONSTRAINT `oper_journaal_ibfk_6` FOREIGN KEY (`TECHNICUS_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_journaal` ADD CONSTRAINT `oper_journaal_ibfk_7` FOREIGN KEY (`AFGETEKEND_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_progressie` ADD CONSTRAINT `oper_progressie_ibfk_1` FOREIGN KEY (`LID_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_progressie` ADD CONSTRAINT `oper_progressie_ibfk_2` FOREIGN KEY (`INSTRUCTEUR_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_progressie` ADD CONSTRAINT `oper_progressie_ibfk_3` FOREIGN KEY (`COMPETENTIE_ID`) REFERENCES `ref_competenties`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_progressie` ADD CONSTRAINT `oper_progressie_ibfk_4` FOREIGN KEY (`LINK_ID`) REFERENCES `oper_progressie`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_reservering` ADD CONSTRAINT `oper_reservering_ibfk_1` FOREIGN KEY (`LID_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_reservering` ADD CONSTRAINT `oper_reservering_ibfk_2` FOREIGN KEY (`VLIEGTUIG_ID`) REFERENCES `ref_vliegtuigen`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_startlijst` ADD CONSTRAINT `oper_startlijst_ibfk_1` FOREIGN KEY (`VLIEGTUIG_ID`) REFERENCES `ref_vliegtuigen`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_startlijst` ADD CONSTRAINT `oper_startlijst_ibfk_2` FOREIGN KEY (`STARTMETHODE_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_startlijst` ADD CONSTRAINT `oper_startlijst_ibfk_3` FOREIGN KEY (`VLIEGER_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_startlijst` ADD CONSTRAINT `oper_startlijst_ibfk_4` FOREIGN KEY (`INZITTENDE_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_startlijst` ADD CONSTRAINT `oper_startlijst_ibfk_5` FOREIGN KEY (`SLEEPKIST_ID`) REFERENCES `ref_vliegtuigen`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_startlijst` ADD CONSTRAINT `oper_startlijst_ibfk_6` FOREIGN KEY (`VELD_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_startlijst` ADD CONSTRAINT `oper_startlijst_ibfk_7` FOREIGN KEY (`BAAN_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_tracks` ADD CONSTRAINT `oper_tracks_ibfk_1` FOREIGN KEY (`LID_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_tracks` ADD CONSTRAINT `oper_tracks_ibfk_2` FOREIGN KEY (`INSTRUCTEUR_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_tracks` ADD CONSTRAINT `oper_tracks_ibfk_3` FOREIGN KEY (`START_ID`) REFERENCES `oper_startlijst`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_tracks` ADD CONSTRAINT `oper_tracks_ibfk_4` FOREIGN KEY (`LINK_ID`) REFERENCES `oper_tracks`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_transacties` ADD CONSTRAINT `oper_transacties_ibfk_1` FOREIGN KEY (`LID_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_transacties` ADD CONSTRAINT `oper_transacties_ibfk_2` FOREIGN KEY (`INGEVOERD_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `oper_transacties` ADD CONSTRAINT `oper_transacties_ibfk_3` FOREIGN KEY (`TYPE_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ref_competenties` ADD CONSTRAINT `ref_competenties_ibfk_1` FOREIGN KEY (`LEERFASE_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ref_competenties` ADD CONSTRAINT `ref_competenties_ibfk_2` FOREIGN KEY (`BLOK_ID`) REFERENCES `ref_competenties`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ref_leden` ADD CONSTRAINT `ref_leden_ibfk_1` FOREIGN KEY (`LIDTYPE_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ref_leden` ADD CONSTRAINT `ref_leden_ibfk_2` FOREIGN KEY (`ZUSTERCLUB_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ref_leden` ADD CONSTRAINT `ref_leden_ibfk_3` FOREIGN KEY (`BUDDY_ID`) REFERENCES `ref_leden`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ref_vliegtuigen` ADD CONSTRAINT `ref_vliegtuigen_ibfk_1` FOREIGN KEY (`TYPE_ID`) REFERENCES `ref_types`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ref_vliegtuigen` ADD CONSTRAINT `ref_vliegtuigen_ibfk_2` FOREIGN KEY (`BEVOEGDHEID_LOKAAL_ID`) REFERENCES `ref_competenties`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

-- AddForeignKey
ALTER TABLE `ref_vliegtuigen` ADD CONSTRAINT `ref_vliegtuigen_ibfk_3` FOREIGN KEY (`BEVOEGDHEID_OVERLAND_ID`) REFERENCES `ref_competenties`(`ID`) ON DELETE RESTRICT ON UPDATE RESTRICT;

